<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Hermerest{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/base_styles.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('css/modals_styles.css') }}">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body>
<div id="modalsDiv">
    {% block modals %}{% endblock %}
</div>

<header>
    <div id="headerLoginDiv">
        <span>
            Conectado como: {{ app.user.name }}<a id="logout" href={{ path('logout') }}>Cerrar sesión</a>
        </span>
    </div>

</header>

<nav class="navbar">
    <ul>
        <li><a href="{{ path('home') }}">Inicio</a></li>
        <hr class="navbar_separator"/>
        <li class="navbar_category">Centro</li>
        {#<li><a href="{{ path('subjects') }}">Asignaturas</a></li>#}
        <li><a href="{{ path('classes') }}">Cursos</a></li>
        <li><a href="{{ path('students') }}">Alumnos</a></li>
        {#<li><a href="{{ path('teachers') }}">Profesores</a></li>#}
        <li class="navbar_category">Mensajería</li>
        <li><a href="{{ path('authorizations') }}">Autorizaciones</a></li>
        <li><a href="{{ path('circulars') }}">Circulares</a></li>
        <li><a href="{{ path('polls') }}">Encuestas</a></li>
        <hr class="navbar_separator"/>
        <li><a href="{{ path('settings') }}">Ajustes</a></li>
    </ul>
</nav>

<div id="actionPanel">
    {% block action_panel %}{% endblock %}
</div>

<main>
    <div id="mainTitleDiv">
    {% block main_title %}{% endblock %}
    </div>

    <div id="mainFiltersDiv">
        {% block main_filters %}{% endblock %}
    </div>

    <div id="mainContentDiv">
        {% block main_content %}{% endblock %}
    </div>
</main>

{#<footer>Copyright &copy; Hermerest.com</footer>#}

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('js/scripts.js') }}"></script>
    <script src="{{ asset('js/ajaxscripts.js') }}"></script>
    <script src="{{ asset('js/utilscripts.js') }}"></script>
{% endblock %}
</body>
</html>
