{% extends 'base.html.twig' %}

{% block title %}Cursos{% endblock %}

{% block modals %}
    {{ include('/modals/new_class_modal.html.twig') }}
{% endblock %}

{% block action_panel %}
    <button class="defaultButton" type="button" onclick="openNewClassDialog()">Nuevo curso</button>
    {#<button class="defaultButton actionPanelRightButton" type="button">Autoimportar desde .csv</button>#}
    <div class="defaultButton actionPanelRightButton autoimportButton">
        <label for="files" class="btn">Autoimportar desde .csv</label>
        <input id="files" style="visibility:hidden;" type="file" accept=".csv" onchange="handleAutoimportFile(this.files)">
    </div>
{% endblock %}

{% block main_title %}
    <h1>Cursos</h1>
    <hr/>
{% endblock %}

{% block main_content %}
    <table class="table" id="classesTable">
        <tr>
            <th>Nombre</th>
            {#<th>Tutor</th>#}
            <th>Nº de alumnos</th>
        </tr>
        {% for class in classes %}
            <tr>
                <td>{{ class.getName() }}</td>
                <td>{{ class.getStudents()|length }}</td>
                <td class="tableButton">
                    <button class="infoButton" onclick="window.location.href='{{ path('class') }}?id={{ class.getId() }}'">Ver</button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(".modal").eq(0).attr("id", "newClassModal");
    </script>
{% endblock %}