{% extends 'base.html.twig' %}

{% block title %}Curso{% endblock %}

{% block modals %}
    {{ include('/modals/add_student_modal.html.twig') }}
    {{ include('/modals/edit_class_modal.html.twig') }}
{% endblock %}

{% block action_panel %}
    <button class="defaultButton" type="button" onclick="openEditClassDialog()">Editar</button>
    <button class="defaultButton" type="button" onclick="openAddStudentDialog()">Añadir alumnos</button>
    <button class="warningButton actionPanelRightButton" type="button" onclick="deleteClass({{ class.getId() }})">Eliminar curso</button>
    {#<button class="defaultButton actionPanelRightButton" type="button">Autoimportar desde .csv</button>#}
{% endblock %}

{% block main_title %}
    <h1>Curso: <span id="className">{{ class.getName() }}</span></h1>
    <hr/>
{% endblock %}

{% block main_content %}
    {#<b>Tutor: </b> Martín Martín#}
    {#<br/><br/>#}
    <b>Nº de alumnos: </b><span id="numberOfStudents">{{ class.getStudents|length }}</span>

    <table class="table" id="studentsTable">
        <tr>
            <th>Alumno</th>
        </tr>
        {% for student in class.getStudents() %}
            <tr id="{{ student.getId() }}">
                <td>{{ student.getSurname() }}, {{ student.getName() }}</td>
                <td class="tableButton">
                    <button class="infoButton" onclick="window.location.href='{{ path('student') }}?id={{ student.getId() }}'">Ver</button>
                </td>
                <td class="tableButton">
                    <button class="warningButton" onclick="deleteStudentFromClass({{ student.getId() }},{{ class.getId() }})">Eliminar
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            $(".modal").eq(0).attr("id", "addStudentModal");
            $(".modal").eq(1).attr("id", "editClassModal");
        </script>
    {% endblock %}