{% extends 'base.html.twig' %}

{% block title %}Alumno{% endblock %}

{% block modals %}
    {{ include('/modals/edit_student_modal.html.twig') }}
    {{ include('/modals/add_parent_modal.html.twig') }}
    {{ include('/modals/edit_parent_modal.html.twig') }}
{% endblock %}

{% block action_panel %}
    <button class="defaultButton" type="button" onclick="openEditStudentDialog()">Editar alumno</button>
    <button class="defaultButton" type="button" onclick="openAddParentDialog()">Añadir padre</button>
    <button class="warningButton actionPanelRightButton" type="button" onclick="deleteStudent({{ student.getId() }})">Eliminar alumno</button>
{% endblock %}

{% block main_title %}
    <h1>Alumno: <span id="studentFullName">{{ student.getName() }} {{ student.getSurname() }}</span></h1>
    <hr/>
{% endblock %}

{% block main_filters %}
{% endblock %}

{% block main_content %}
    <div id="studentInfoDiv">
        <h2>Información del alumno</h2>
        <ul id="studentInfo">
            <li><b>Nombre: </b><span id="studentName">{{ student.getName() }}</span></li>
            <li><b>Apellidos: </b><span id="studentSurname">{{ student.getSurname() }}</span></li>
            <li><b>Curso: </b><span id="studentClass">{{ student.getClass() is null ? '-' : student.getClass().getName() }}</span></li>
            {#<li><b>Fecha de nacimiento: </b>10/02/2010</li>#}
            {#<li><b>Teléfono: </b>928 45 84 10</li>#}
            {#<li><b>Dirección: </b>C/ Desengaño, Nº21, 1ºA</li>#}
        </ul>
    </div>

    <br/>
    <div id="parentsDiv">
        <h2>Padres</h2>
        <table class="table" id="parentsTable">
            <tr>
                {#<th>DNI</th>#}
                <th>Teléfono</th>
                <th>Nombre</th>
            </tr>
            {% for parent in student.getParents() %}
            <tr id="{{ parent.getId() }}">
                {#<td>{{ parent.getNif() }}</td>#}
                <td>{{ parent.getTelephone() }}</td>
                <td>{{ parent.getName() }}</td>
                {#<td class="tableButton">#}
                    {#<button class="primaryButton" onclick="openEditParentDialog(this)">Editar</button>#}
                {#</td>#}
                <td class="tableButton">
                    <button class="warningButton" onclick="deleteParent({{ student.getId() }},{{ parent.getId() }})">Eliminar</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(".modal").eq(0).attr("id", "editStudentModal");
        $(".modal").eq(1).attr("id", "addParentModal");
        $(".modal").eq(2).attr("id", "editParentModal");
    </script>
{% endblock %}