{% extends 'base.html.twig' %}

{% block title %}Alumnos{% endblock %}

{% block modals %}
    {{ include('/modals/register_student_modal.html.twig') }}
{% endblock %}

{% block action_panel %}
    <button class="defaultButton" type="button" onclick="openRegisterStudentDialog()">Registrar alumno</button>
    {#<button class="defaultButton actionPanelRightButton" type="button">Autoimportar desde .csv</button>#}
{% endblock %}

{% block main_title %}
    <h1>Alumnos</h1>
    <hr/>
{% endblock %}

{% block main_filters %}
    <select class="dropdown" id="classFilterDropdown" onchange="filterStudents()">
        <option value=" ">Cualquier curso</option>
        <option value="">Sin curso</option>
        {% for class in app.user.centre.getClasses() %}
            <option value="{{ class.getName() }}">{{ class.getName() }}</option>
        {% endfor %}
    </select>
    <input class="filterInput" id="studentNameFilterInput" type="text" placeholder="Nombre del alumno"
           onkeyup="filterStudents()">
{% endblock %}

{% block main_content %}
    <table class="table" id="studentsTable">
        <thead>
        <tr>
            <th>Alumno</th>
            <th>Curso</th>
        </tr>
        </thead>
        <tbody>
        {% for student in app.user.getCentre().getStudents() %}
            <tr>
                <td>{{ student.getSurname() }}, {{ student.getName() }}</td>
                <td>{{ student.getClass() is null ? '-' : student.getClass().getName() }}</td>
                <td class="tableButton">
                    <button class="infoButton"
                            onclick="window.location.href='{{ path('student', {id: student.getId()}) }}'">
                        Ver
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(".modal").eq(0).attr("id", "registerStudentModal");
    </script>
{% endblock %}