{% extends 'base.html.twig' %}

{% block title %}Circulares{% endblock %}

{% block modals %}
    {{ include('/modals/send_circular_modal.html.twig') }}
    {{ include('/modals/view_circular_modal.html.twig') }}
{% endblock %}

{% block main_title %}
    <h1>Circulares</h1>
    <hr/>
{% endblock %}

{% block action_panel %}
    <button class="defaultButton" type="button" onclick="openSendCircularDialog()">Enviar circular</button>
{% endblock %}

{% block main_filters %}
    <input class="filterInput" id="circularSubjectInputFilter" type="text" placeholder="Asunto de la circular"
           onkeyup="filterCirculars()">

    <select class="dropdown" id="circularMonthDropdown" onchange="filterCirculars()">
        <option value="">Cualquier mes</option>
        <option value="01">Enero</option>
        <option value="02">Febrero</option>
        <option value="03">Marzo</option>
        <option value="04">Abril</option>
        <option value="05">Mayo</option>
        <option value="06">Junio</option>
        <option value="07">Julio</option>
        <option value="08">Agosto</option>
        <option value="09">Septiempre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
    </select>

{% endblock %}

{% block main_content %}
    <table class="table" id="circularsTable">
        <thead>
        <tr>
            <th>Asunto</th>
            <th>Fecha de envío</th>
            {#<th>Remitente</th>#}
        </tr>
        </thead>
        <tbody>
        {% for circular in app.user.getCentre().getMessagesOfType('Circular') %}
            <tr>
                <td>{{ circular.getSubject }}</td>
                <td>{{ circular.getSendingDate()|date('d/m/Y') }}</td>
                {#<td>Enrique Morales</td>#}
                <td class="tableButton">
                    <button class="infoButton" onclick="openViewCircularDialog({{ circular.getId() }})">Ver</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            $(".modal").eq(0).attr("id", "sendCircularModal");
            $(".modal").eq(1).attr("id", "viewCircularModal");
        </script>
    {% endblock %}