{% extends 'base.html.twig' %}

{% block title %}Encuestas{% endblock %}

{% block modals %}
    {{ include('/modals/send_poll_modal.html.twig') }}
    {{ include('/modals/view_poll_modal.html.twig') }}
{% endblock %}

{% block main_title %}
    <h1>Encuestas</h1>
    <hr/>
{% endblock %}

{% block action_panel %}
    <button class="defaultButton" type="button" onclick="openSendPollDialog()">Enviar encuesta</button>
{% endblock %}

{% block main_filters %}
    <input class="filterInput" id="pollSubjectInputFilter" type="text" placeholder="Asunto de la encuesta" onkeyup="filterPolls()">

    <select class="dropdown" id="pollMonthDropdownFilter" onchange="filterPolls()">
        <option value="">Cualquier mes</option>
        <option value="01">Enero</option>
        <option value="02">Febrero</option>
        <option value="03">Marzo</option>
        <option value="04">Abril</option>
        <option value="05">Mayo</option>
        <option value="06">Junio</option>
        <option value="07">Julio</option>
        <option value="08">Agosto</option>
        <option value="09">Septiempre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
    </select>

    <select class="dropdown" id="pollStateDropdownFilter" onchange="filterPolls()">
        <option value="0">Cualquier estado</option>
        <option value="1">En curso</option>
        <option value="-1">Finalizadas</option>
    </select>
{% endblock %}

{% block main_content %}
    <table class="table" id="pollsTable">
        <thead>
        <tr>
            <th>Asunto</th>
            <th>Fecha de envío</th>
            {#<th>Remitente</th>#}
            <th>Fecha límite</th>
        </tr>
        </thead>
        <tbody>
        {% for poll in app.user.getCentre().getMessagesOfType('Poll') %}
        <tr>
            <td>{{ poll.getSubject() }}</td>
            <td>{{ poll.getSendingDate()|date('d/m/Y') }}</td>
            {#<td>Armando Balmaseda</td>#}
            <td>{{ poll.getLimitDate()|date('d/m/Y') }}</td>
            <td class="tableButton">
                <button class="infoButton" onclick="openViewPollDialog({{ poll.getId() }})">Ver</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(".modal").eq(0).attr("id", "sendPollModal");
        $(".modal").eq(1).attr("id", "viewPollModal");

        checkAndSetPastDates("pollsTable");
    </script>
{% endblock %}